server:
  servlet:
    context-path: /api-car

spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/car?currentSchema=car_service
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db-changelog-master.yaml
    contexts: dev
    drop-first: false

logging:
  level:
    liquibase: INFO
    org.hibernate.SQL: DEBUG
